<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head')%>
<body>
    <%-include('../partials/header')%>
    <main class="mainlogin2">
        <div class="mainlogin">
            <div>
                 <h5>Formulario de edición de productos</h5>
            </div>
            <br>
            <form action="/productos/editar/<%=producto.id%>?_method=PUT" method="POST">
                <div >
					<div >
						<label for="name" class="crearEditarLabel" >Nombre del producto:</label>
						<input type="text" id="name" name="nombre" value="<%=producto.nombre%>" >
					</div>
                    <br>
					<div >
						<label for="price" class="crearEditarLabel">Precio del producto:</label>
						<input type="text" id="price" name="price" value="<%=producto.price%>" >
					</div>
                    <br>

					<div>
						<label for="description" class="crearEditarLabel">Descripción:</label>
						<textarea name="description" id="description" class="description" placeholder="<%=producto.description%>"></textarea>
					</div>
                    <br>
					<div>
						<button id="botonlogin" type="submit" class="submit-form">Guardar edición</button>
					</div>
				</div>
                <br>
            </form>
            <form action="/productos/editar/<%=producto.id%>?_method=DELETE" method="POST">
            <div>
				<button id="botonlogin" type="submit" class="submit-form">Eliminar</button>
            </div>
            </form>
        </div>
    </main>
    <%-include('../partials/footer')%>
</body>
</html>