<!DOCTYPE html>
<html lang="en">
  <%-include('../partials/head')%>
<body>
  <%-include('../partials/header')%>

    <main>

        <div>
          <ul  >
            <% for(let p of productos) {%>
                   <a href="../productos/detail/<%=p.id%>" class="linkListado"> <li class="contenedorListado" >
                                   <img class="fotoListado" src="/imag/<%= p.imagen%>">
                                   <div class="detalleListado">
                                    <h4><%= p.nombreProducto%></h4>
                                    <p><%= p.descripcion%></p>
                                    <p>$ <%= p.precio%></p>
                                  </div>
                      </li>
                    </a>
             <% }%>
          </ul>

 

    </main>

  <%-include('../partials/footer')%>
</body>
</html>