<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head')%>

    <body>
        <%-include('../partials/header')%>

            <main>
                <div class="cajaMadre">
                    <div id="caja1">
                        <ul class="slider">
                            <li id="slide1">
                                <img src="/imag/<%= producto.imagen%>" />
                            </li>
                            <li id="slide2">
                                <img src="/imag/empanadas1.png" />
                            </li>
                            <li id="slide3">
                                <img src="/imag/picada.png" />
                            </li>
                        </ul>

                        <ul class="menu">
                            <li>
                                <a href="#slide1"><img src="/imag/<%= producto.imagen%>"/></a>
                            </li>
                            <li>
                                <a href="#slide2"><img src="/imag/empanadas1.png" /></a>
                            </li>
                            <li>
                                <a href="#slide3"><img src="/imag/picada.png" /></a>
                            </li>
                        </ul>
                        <h3>Descripción</h3>
                        <article>
                            <%= producto.descripcion%>
                        </article>

                    </div>

                    <div id="caja2">

                        <form id='form' class="seleccion" action="#" method="GET">
                            <h2 id="nombreProducto">
                                <%= producto.nombreProducto%>
                            </h2>
                            <h3 id="precio">$
                                <%= producto.precio%>
                            </h3>
                            <input id="cantidad" type="text" placeholder="Ingrese la cantidad" value=""><br><br>
                            <input id="añadirCarrito" class="botonlogin1" type="submit" value="Añadir al Carrito"><br><br>
                            <h2 id='imagens' class="invisible">
                                <%=producto.imagen%>
                            </h2>
                            <span id='id' class="invisible">
                                <%=producto.id%>
                            </span>
                            <span id='descripcion' class="invisible">
                                <%=producto.descripcion%>
                            </span>
                            
                        </form>
                        <div id="caja3">
                        <button id="eliminar"  class="botonlogin1">eliminar</button>
                        </div>
                    </div>
                </div>
            </main>
            <%-include('../partials/footer')%>
                <script src="/JS/carritoProducto.js"></script>
    </body>

</html>